src/main/mule/adhar-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea443767-3832-458a-a509-ee7737adbb7d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="adhar-ci-cdFlow" doc:id="60a68764-431d-42c2-acc8-1726e9b2a656" >
		<http:listener doc:id="d9281de2-f427-4032-bc06-88c2bf1f961b" doc:name="" path="/" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="d8365491-b7f2-4368-83c3-a48aaf29d5cb" message="#['Start']"/>
		<ee:transform doc:name="Transform Message" doc:id="6f0fd3ce-ea7b-4ef1-b7ac-30b212afb6f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Name: 'Jon fardandis',
	Age: '26',
	City : 'Pune'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="da93f01d-1516-448f-b201-abf6bad73cbd" message="#[payload]"/>
	</flow>
</mule>
